
    {% extends "Template.html" %}
    
    {% block BODY %}

	<div data-role="page">
	    <div data-role="header">
            <a href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-icon-back ui-btn-icon-notext ui-btn-left" title="back"></a>
            <h1>Turning Points</h1>
            <a href="{{ HOST }}" data-ajax="false" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-right" title="Home"></a>
	    </div>

        <div role="main" class="ui-content">

            {% for SCENE in SCENES %}
                <div data-role="collapsible" data-inset="true" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-iconpos="right">
                    <h3>{{ SCENE.title }}</h3>
                    <ul data-role="listview">
                        <li><p style="font-size: 1.2em; font-family: georgia, times, serif; line-height: 1.5em; font-weight: 400; white-space: pre-wrap;">{{ SCENE.description }}</p></li>
                    </ul>
                </div>

                <div data-role="controlgroup" data-type="vertical">
                    {% for PLOT in SCENE.PLOTS %}
                        <select class="turningpoints" data-iconpos="right">
                            <option {% ifequal PLOT.tp "Success" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - Success</option>
                            <option {% ifequal PLOT.tp "Accelerate" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - Accelerate</option>
                            <option {% ifequal PLOT.tp "Increase" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - Increase</option>
                            <option {% ifequal PLOT.tp "None" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - None</option>
                            <option {% ifequal PLOT.tp "Decrease" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - Decrease</option>
                            <option {% ifequal PLOT.tp "Decelerate" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - Decelerate</option>
                            <option {% ifequal PLOT.tp "Failure" %} selected="" {% endifequal %} >{{ PLOT.title|slice:"0:30" }} - Failure</option>
                        </select>
                    {% endfor %}
                </div>
            {% endfor %}

        </div>

	    <form id="postsubmit" data-ajax="false" method="post" action="{{ HOST }}/chart/">
            <input type="hidden" name="storyID" value="{{ STORY.id }}">
		    <input type="submit" value="Submit">
	    </form>

        <a href="#" data-rel="back" data-role="button">Cancel</a>

        {% if CHART %}
            <form data-ajax="false" method="post" action="{{ HOST }}/chart/">
                <input type="hidden" name="delete" value="delete">
                <input type="hidden" name="storyID" value="{{ STORY.id }}">
                <input type="submit" value="Delete chart">
            </form>
        {% endif %}
            
        <script type="text/javascript">
            $(document).ready(function() {

                $("#postsubmit").on('submit', function (event) {
                    var tps = "";
                    var tp = "";
                    $("select.turningpoints").each(function() {
                        var selected = $(this).find(":selected").text();
                        var selectedThree = selected.substring(selected.length-3, selected.length);
                        var selectedEight = selected.substring(selected.length-8, selected.length);
                        var selectedTen = selected.substring(selected.length-10, selected.length);
                        switch(selectedThree) {
                            case "ess":
                                tp = "Success";
                                break;
                            case "one":
                                tp = "None";
                                break;
                            case "ure":
                                tp = "Failure";
                                break;
                            case "ate":
                                if (selectedTen == "Accelerate") {
                                    tp = "Accelerate";
                                } else {
                                    tp = "Decelerate";
                                }
                                break;
                            case "ase":
                                if (selectedEight == "Increase") {
                                    tp = "Increase";
                                } else {
                                    tp = "Decrease";
                                }
                                break;
                        }
                        tps = tps + tp + " ";
                    });
                    $('<input>').attr({ type: 'hidden', name: 'tps', value: tps}).appendTo($("#postsubmit"));
                });
            });
        </script>
           
	</div>

    {% endblock %}
