
    {% extends "Template.html" %}
    
    {% block BODY %}

	<div data-role="page">
	    <div data-role="header">
		    <h1>Story Charts</h1>
	    </div>

	    <div role="main" class="ui-content">
			<ul data-role="listview" data-inset="true">
				{% for STORY in STORIES %}
					<li data-role="none"><a data-ajax="false" href="{{ HOST }}/story/{{ STORY.id }}/">{{ STORY.title }} {% ifequal USER.user_id STORY.userid %} <span data-role="none"><img src="{{ HOST }}/static/IconOwn.png" title="Editable: you created this story"></span> {% endifequal %} {% if STORY.private %} <span data-role="none"><img src="{{ HOST }}/static/IconPrivate.png" title="Private: only you can see this story"></span>  {% endif %}</a></li>
				{% endfor %}
			</ul>
	    </div>

	    {% if not USER %}
			<a href="https://www.storycharts.com/story/5199294671880192/" data-ajax="false" data-role="button" title="About Story Charts">About</a>
			<a href="{{ HOST }}/create/" data-ajax="false" data-role="button" title="Create new story">Create</a>
			<a href="{{ LOGINURL }}" data-ajax="false" data-role="button" title="Log in with Gmail">Login with Gmail</a>
		{% else %}
			<a href="{{ HOST }}/create/" data-ajax="false" data-role="button" title="Create new story">Create</a>
			<a href="{{ LOGOUTURL }}" data-ajax="false" data-role="button" title="Log out">Log out</a>
	    {% endif %}
	</div>

    {% endblock %}