
    {% extends "Template.html" %}
    
    {% block BODY %}

	<div data-role="page">
	    <div data-role="header">
			<a href="#" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-icon-back ui-btn-icon-notext ui-btn-left" title="back"></a>
			<h1>Order</h1>
			<a href="{{ HOST }}" data-ajax="false" class="ui-btn ui-shadow ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-right" title="Home"></a>
	    </div>

	    <div role="main" class="ui-content">
			<p style="font-weight: bold;">Plots</p>
			<ul id="plots" data-role="listview" data-inset="true">
				{% for PLOT in PLOTS %}
					<li id="entry{{ PLOT.id }}">
						<span>{{ PLOT.title }}</span>
						<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="ui-btn-right" style="top: 0px;">
							<a href="#" class="plot-sort-beginning" data-role="button" data-icon="arrow-l" data-iconpos="notext" title="Move to beginning">Left</a>
							<a href="#" class="plot-sort-up" data-role="button" data-icon="arrow-u" data-iconpos="notext" title="Move up">Up</a>
							<a href="#" class="plot-sort-down" data-role="button" data-icon="arrow-d" data-iconpos="notext" title="Move down">Down</a>
							<a href="#" class="plot-sort-end" data-role="button" data-icon="arrow-r" data-iconpos="notext" title="Move to end">Right</a>
						</div>
					</li>
				{% endfor %}
			</ul>

			<p style="font-weight: bold;">Scenes</p>
			<ul id="scenes" data-role="listview" data-inset="true">
				{% for SCENE in SCENES %}
					<li id="entry{{ SCENE.id }}">
						<span>{{ SCENE.title }}</span>
						<div data-role="controlgroup" data-type="horizontal" data-mini="true" class="ui-btn-right" style="top: 0px;">
							<a href="#" class="scene-sort-beginning" data-role="button" data-icon="arrow-l" data-iconpos="notext" title="Move to beginning">Left</a>
							<a href="#" class="scene-sort-up" data-role="button" data-icon="arrow-u" data-iconpos="notext" title="Move up">Up</a>
							<a href="#" class="scene-sort-down" data-role="button" data-icon="arrow-d" data-iconpos="notext" title="Move down">Down</a>
							<a href="#" class="scene-sort-end" data-role="button" data-icon="arrow-r" data-iconpos="notext" title="Move to end">Right</a>
						</div>
					</li>
				{% endfor %}
			</ul>
	    </div>

	    <form id="postsubmit" data-ajax="false" method="post" action="{{ HOST }}/order/">
            <input type="hidden" name="storyID" value="{{ STORY.id }}">
			<input type="submit" value="Submit">
	    </form>

        <a href="#" data-rel="back" data-role="button">Cancel</a>
            
		<script type="text/javascript">
			$(document).ready(function() {

				$(".plot-sort-beginning").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					$("#plots").prepend(listitem);
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#plots").listview("refresh");
				});
				$(".plot-sort-up").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					if ( !listitem.is(':first-child') )
						$(listitem).insertBefore(listitem.prev());
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#plots").listview("refresh");
				});
				$(".plot-sort-down").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					if ( !listitem.is(':last-child') )
						$(listitem).insertAfter(listitem.next());
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#plots").listview("refresh");
				});
				$(".plot-sort-end").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					$("#plots").append(listitem);
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#plots").listview("refresh");
				});
			
				$(".scene-sort-beginning").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					$("#scenes").prepend(listitem);
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#scenes").listview("refresh");
				});
				$(".scene-sort-up").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					if ( !listitem.is(':first-child') )
						$(listitem).insertBefore(listitem.prev());
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#scenes").listview("refresh");
				});
				$(".scene-sort-down").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					if ( !listitem.is(':last-child') )
						$(listitem).insertAfter(listitem.next());
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#scenes").listview("refresh");
				});
				$(".scene-sort-end").on('click', function (e) {
					var listitem = $(this).parent().parent().parent();
					$("#scenes").append(listitem);
					listitem.fadeIn(100).fadeOut(100).fadeIn(100);
					$("#scenes").listview("refresh");
				});
				
				$("#postsubmit").on('submit', function (event) {
					var plotsorder = "";
					$("#plots").children("li").each(function() {
						plotsorder = plotsorder + $(this).attr("id").substring(5, $(this).attr("id").length) + " ";
					});
					var scenesorder = "";
					$("#scenes").children("li").each(function() {
						scenesorder = scenesorder + $(this).attr("id").substring(5, $(this).attr("id").length) + " ";
					});
					$('<input>').attr({ type: 'hidden', name: 'plotsorder', value: plotsorder }).appendTo($("#postsubmit"));
								$('<input>').attr({ type: 'hidden', name: 'scenesorder', value: scenesorder }).appendTo($("#postsubmit"));
				});
			});
		</script>

	</div>

    {% endblock %}
