
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Write stories down to live a meaningful life.">
		<link rel="stylesheet" href="{{ HOST }}/static/jquery.mobile.theme.min.css">
		<link rel="stylesheet" href="{{ HOST }}/static/jquery.mobile.icons.min.css">
		<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" /> 
		<script src="{{ HOST }}/static/jquery-2.2.0.min.js"></script>
		<script src="{{ HOST }}/static/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<style>
			.ui-header .ui-title {
				margin-right: 10%;
				margin-left: 10%;
			}
		</style>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ HOST }}/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ HOST }}/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ HOST }}/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ HOST }}/static/favicon/manifest.json">
        <link rel="mask-icon" href="{{ HOST }}/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
	{% block BODY %}{% endblock %}
    </body>

</html>